.navbar {
    background-color: #BFD4E8;
}

.btn-link {
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.navbar-nav .nav-link {
    color: black;
}

.container2 {
    padding: 0;
    overflow: hidden;
}

.row1 {
    position: relative;
    text-align: center;
}

.Empresa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 6em;
    text-decoration: none;
    font-family: 'Acme';
    max-width: 200px; /* Ajusta el ancho máximo según tu diseño */
    width: 100%; /* Hace que el ancho sea el 100% del contenedor */
}

.row2 {
    margin-top: 20px;
}

.col-md-8{
    padding: 0 0;
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #467FB3;
    font-size: 2.5em;
    margin-left: 35px;
}

.text {
    font-size: 1.4em;
    font-family: 'Poppins';
    margin-left: 50px;
}

.point {
    margin-bottom: 40px;
    font-size: 1.3em;
    font-family: 'Poppins';
    margin-left: 60px;
}

.img {
    max-width: 100%;
}

.img2 {
    max-width: 100%;
}

footer {
    background-color: #BFD4E8;
    color: #568abb00;
    text-align: center;
    margin-top: 20px;
    
}

@font-face {
    font-family: 'Acme';
    src: url('../../font-Family/Acme-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../font-Family/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}